.describeTaskContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  padding: 0 20px;
}
.describeTaskContainer h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  color: #ac2132;
  padding-top: 20px;
}
.locationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
}
.locationWrapper h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #ac2132;
}
.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.locationhero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.locationIcon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  color: #ac2132;
}
.InputLocation {
  width: 74%;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1rem;
  color: #ac2132;
}
.InputLocation:focus {
  outline: none;
}
.locationZipCode {
  width: 20%;

  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1rem;
  color: #ac2132;
}
.locationZipCode:focus {
  outline: none;
}
.confirmAddress {
  width: 100%;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1rem;

  background-color: #ac2132;
  color: #5b6baa;
  margin-top: 10px;
  font-weight: bold;
  padding: 5px 30px;
}
.confirmAddress:focus {
  outline: none;
}
.confirmAddress:hover {
  background-color: #5b6baa;
  color: #ac2132;
  border: 1px solid #ac2132;
}

.TaskOptionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  flex-direction: column;
}
.TaskOptionWrapper h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #ac2132;
}
.TaskOption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  flex-direction: column;
}
.TaskOption h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #ac2132;
  font-weight: bold;
}
.taskOptionhero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.taskOptionRadioBtn {
  background-color: #ac2132;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.taskOptionhero label {
  font-size: 1rem;
  font-weight: 600;
  color: #ac2132;
  margin-right: 30px;
  margin-left: -10rem;
}
.tasksRadioWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.taskDetailWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  flex-direction: column;
  margin-bottom: 30px;
}
.taskDetailWrapper h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #ac2132;
}
.taskDetail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  flex-direction: column;
}
.taskDetailHero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.taskDetailHero p {
  display: flex;
  text-align: left;
  color: #000;
  font-size: 1rem;
}
.taskDetailInput {
  width: 100%;
  height: 100px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1rem;
  color: #ac2132;
}
.taskDetailInput:focus {
  outline: none;
}
.taskDetailParagraph {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
