.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 5px;
}
.SProvider__Heading {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
  color: #ac2132;
  text-transform: capitalize;
}
#Order_btn {
  color: #ac2132;
  border: 1px solid #5b6baa;
}
#Order_btn:hover {
  color: #5b6baa;
  background-color: #ac2132;
  border: 1px solid #5b6baa;
  font-weight: bold;
}
#cart_btn {
  color: #ac2132;
  border: 1px solid #ac2132;
  background-color: #5b6baa;
}
#cart_btn:hover {
  color: #5b6baa;
  background-color: #ac2132;
  border: 1px solid #5b6baa;
  font-weight: bold;
}
#cart_btn:disabled {
  color: #ac2132;
  border: 1px solid #ac2132;
  background-color: #5b6baa;
}
.User_List_Name {
  font-size: 20px;
  font-weight: bolder;
  color: #3a396b;
  text-transform: capitalize;
}
.User_List_Last_Section {
  background-color: #cbd6e5;
  color: #ac2132;
  border-radius: 10px;
  border: 1px solid #5b6baa;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
}
.user_LastSection_Heading {
  font-size: 10px;
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.user_Points {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  place-items: center;
  row-gap: 5px;
  margin-top: 10px;
}
.user_point1 {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: auto;
  padding-bottom: 20px;
}
.Heading_LastSec {
  font-size: 20px;
  font-weight: bold;
}
.user_point1 p {
  font-size: 15px;
  padding: 10px;
  text-align: center;
  color: #3a396b;
}
.User_point_icon {
  font-size: 30px;
  color: #3a396b;
}
.User_lastSection_Button {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin-top: 10px;
}
.U_btn {
  color: #ac2132;
  border: 1px solid #5b6baa;
  background-color: #5b6baa;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.U_btn:hover {
  color: #5b6baa;
  background-color: #ac2132;
  border: 1px solid #5b6baa;
  font-weight: bold;
}
.paginationBttns {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  list-style: none;
}
.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border: 1px solid #5b6baa;
  border-radius: 15px;
  color: #ac2132;
  text-transform: capitalize;
  cursor: pointer;
}
.paginationBttns a:hover {
  color: #5b6baa;
  background-color: #ac2132;
  border: 1px solid #5b6baa;
}
.paginationActive a {
  color: #5b6baa;
  background-color: #ac2132;
  border: 1px solid #5b6baa;
}
.previousBttn {
  margin-right: 10px;
  background-color: #5b6baa;
  color: #ac2132;
  text-decoration: none;
}
.nextBttn {
  margin-left: 10px;
  background-color: #5b6baa;
  color: #ac2132;
  text-decoration: none;
}
.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
