.maincontainer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.Heading {
  margin-left: -82px;
  padding-left: 7rem;

  /* 
  background-image: url("./home2.png");
  height: 103vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -82px;
  padding-left: 7rem;
  display: flex;
  flex-direction: column;
  line-height: 12px;
  align-items: flex-start; */
}
.subheading {
  padding-top: 13rem;
  color: #3a396b;
  font-size: 3.5rem;
  font-weight: bolder;
  /* padding-top: 15rem;
  color: #5b6baa;
  font-size: 3rem;
  font-weight: 1000;
  font-family: "Poppins", sans-serif; */
}

.image {
  height: 89vh;
  width: 78vh;
  margin-top: 3rem;
}
.paragraph {
  color: #ac2132;
  font-size: 2rem;
  line-height: 35px;
  font-weight: 2px;
  font-weight: normal;
  padding-left: 0.5rem;
  margin-right: 5.5rem;
  /* color: #ac2132;
  font-size: 1.6rem;
  line-height: 27px;
  font-weight: 2px;
  padding-left: 4.5rem;
  font-family: "Poppins", sans-serif; */
}
.btn {
  background-color: #3a396b;
  color: #ffff;
  width: 8.5rem;
  height: 2.8rem;
  border-radius: 5px;
  font-weight: 1000;
  font-family: "Poppins", sans-serif;
  border: none;
  margin-left: 7.5rem;
  transition: scale (1, 1);
}
.btn:hover {
  background-color: #5b6baa;
  color: #ac2132;
  font-weight: 1000;
}
