
body
{
	background: #eee; /* For visibility of elements. */
}

section.inner-banner.template-banner.bg-primary-grad { 
	background: #1A75BB;
	box-sizing: border-box;
	color: #ffffff;
	display: block;
	font-family: Poppins, sans-serif;
	font-size: 100%;
	line-height: 24px;
	margin: 0px;
	margin-bottom: 2rem;
	padding: 0px;
	text-align: left;
	vertical-align: baseline;
}

div.abt-dsply-cntrl.d-flex.align-items-center { 
	align-items: center;
	box-sizing: border-box;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	font-family: Poppins, sans-serif;
	font-size: 100%;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	vertical-align: baseline;
}

div.cl-6 { 
	bottom: 0px;
	box-sizing: border-box;
	color: #ffffff;
	font-family: Poppins, sans-serif;
	font-size: 100%;
	left: 0px;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	right: 0px;
	text-align: left;
	top: 0px;
	vertical-align: baseline;
	width: 100%;
}

div.ib-content { 
	box-sizing: border-box;
	color: #ffffff;
	font-family: Poppins, sans-serif;
	font-size: 100%;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
	padding-bottom: 1rem;
	padding-top: 1rem;
	text-align: left;
	vertical-align: baseline;
}

h1 { 
	box-sizing: border-box;
	color: #ffffff;
	font-family: Poppins, sans-serif;
	font-size: 48px;
	font-weight: 500;
	line-height: 57.6px;
	margin: 0px;
	margin-bottom: 0.5rem;
	margin-top: 0px;
	padding: 0px;
	text-align: left;
	vertical-align: baseline;
}

:root > :nth-child(2) > :nth-child(2) > :nth-child(2) > :nth-child(1) > :nth-child(2) { 
	bottom: 0px;
	box-sizing: border-box;
	color: #ffffff;
	font-family: Poppins, sans-serif;
	font-size: 100%;
	left: 0px;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	right: 0px;
	text-align: left;
	top: 0px;
	vertical-align: baseline;
	width: 100%;
}

div.inner-banner-image { 
	box-sizing: border-box;
	color: #ffffff;
	font-family: Poppins, sans-serif;
	font-size: 100%;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: baseline;
}

img.ibi-cover { 
	box-sizing: border-box;
	color: #ffffff;
	display: block;
	font-family: Poppins, sans-serif;
	font-size: 100%;
	height: auto;
	line-height: 24px;
	margin: 0px;
	margin-left: auto;
	max-height: 234px;
	max-width: 100%;
	padding: 0px;
	text-align: right;
	vertical-align: middle;
	width: auto;
}

@media (min-width: 768px) { 
	section.inner-banner.template-banner.bg-primary-grad { 
		padding-bottom: 1rem;
		padding-top: 2.5rem;
	}

	div.abt-dsply-cntrl.d-flex.align-items-center { 
		flex-direction: row;
	}

	div.cl-6 { 
		flex: 0 0 50%;
		max-width: 50%;
		padding-left: 0px;
		padding-right: 0px;
	}

	div.ib-content { 
		margin-left: 4.5rem;
		text-align: left;
	}

	h1 { 
		font-size: 3rem;
	}

	:root > :nth-child(2) > :nth-child(2) > :nth-child(2) > :nth-child(1) > :nth-child(2) { 
		flex: 0 0 50%;
		max-width: 50%;
		padding-left: 0px;
		padding-right: 0px;
	}

	div.inner-banner-image { 
		text-align: right;
	}

}

@media print { 
	section.inner-banner.template-banner.bg-primary-grad { 
		box-shadow: none !important;
		text-shadow: none !important;
	}

	div.abt-dsply-cntrl.d-flex.align-items-center { 
		box-shadow: none !important;
		text-shadow: none !important;
	}

	div.cl-6 { 
		box-shadow: none !important;
		text-shadow: none !important;
	}

	div.ib-content { 
		box-shadow: none !important;
		text-shadow: none !important;
	}

	h1 { 
		box-shadow: none !important;
		text-shadow: none !important;
	}

	:root > :nth-child(2) > :nth-child(2) > :nth-child(2) > :nth-child(1) > :nth-child(2) { 
		box-shadow: none !important;
		text-shadow: none !important;
	}

	div.inner-banner-image { 
		box-shadow: none !important;
		text-shadow: none !important;
	}

	img.ibi-cover { 
		box-shadow: none !important;
		break-inside: avoid;
		text-shadow: none !important;
	}

}